*{
    padding: 0;
    margin: 0;
}

.app{
    background-image: url('https://res.cloudinary.com/dgk9fa4rw/image/upload/v1669930259/ImgAppReact/img/back_c4qcf4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}